<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ynzyq.yudbadmin.dao.system.SystemPermissionMapper">

  <resultMap id="BaseResultMap" type="com.ynzyq.yudbadmin.dao.system.model.SystemPermission">
    <id column="ID" jdbcType="INTEGER" property="id"/>
    <result column="CODE" jdbcType="VARCHAR" property="code"/>
    <result column="NAME" jdbcType="VARCHAR" property="name"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="CREATE_USER" jdbcType="INTEGER" property="createUser"/>
    <result column="UPDATE_USER" jdbcType="INTEGER" property="updateUser"/>
    <result column="DELETED" jdbcType="BIT" property="deleted"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                      #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                      #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `ID`, `CODE`, `NAME`, `REMARK`, `CREATE_TIME`, `UPDATE_TIME`, `CREATE_USER`, `UPDATE_USER`, `DELETED`
  </sql>

  <!-- 查询系统权限列表 -->
  <resultMap id="SystemPermissionListVO" type="com.ynzyq.yudbadmin.dao.system.vo.SystemPermissionListVO" autoMapping="true">
    <id column="ID" property="id"/>
    <association property="createUserInfo" javaType="com.ynzyq.yudbadmin.dao.system.model.SystemUser">
      <id column="CREATE_USER_ID" property="id"/>
      <result column="CREATE_USER_NAME" property="username"/>
    </association>
    <association property="updateUserInfo" javaType="com.ynzyq.yudbadmin.dao.system.model.SystemUser">
      <id column="UPDATE_USER_ID" property="id"/>
      <result column="UPDATE_USER_NAME" property="username"/>
    </association>
  </resultMap>
  <select id="selectList" parameterType="com.ynzyq.yudbadmin.dao.system.dto.QuerySystemPermissionDTO" resultMap="SystemPermissionListVO">
    SELECT
      perm.`ID`, perm.`CODE`, perm.`NAME`, perm.`REMARK`, perm.`CREATE_TIME`, perm.`UPDATE_TIME`, perm.`CREATE_USER`, perm.`UPDATE_USER`, perm.`DELETED`,
      create_user.ID CREATE_USER_ID, create_user.`USERNAME` CREATE_USER_NAME,
      update_user.ID UPDETE_USER_ID, update_user.`USERNAME` UPDATE_USER_NAME
    FROM SYSTEM_PERMISSION perm
    LEFT JOIN `SYSTEM_USER` create_user ON create_user.ID = perm.CREATE_USER
    LEFT JOIN `SYSTEM_USER` update_user ON update_user.ID = perm.UPDATE_USER
    <where>
      perm.DELETED = 0
      <if test="code != null">
        AND perm.CODE LIKE CONCAT('%', #{code}, '%')
      </if>
      <if test="code != null">
        AND perm.`NAME` LIKE CONCAT('%', #{name}, '%')
      </if>
    </where>
  </select>

  <!-- 根据用户ID查询权限 -->
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
      perm.`ID`, perm.`CODE`, perm.`NAME`, perm.`REMARK`, perm.`CREATE_TIME`, perm.`UPDATE_TIME`, perm.`CREATE_USER`, perm.`UPDATE_USER`, perm.`DELETED`
    FROM SYSTEM_PERMISSION perm
    INNER JOIN SYSTEM_ROLE_PERMISSION role_perm ON role_perm.PERMISSION_ID = perm.ID AND role_perm.DELETED = 0
    INNER JOIN SYSTEM_ROLE role ON role.ID = role_perm.ROLE_ID AND role.DELETED = 0
    INNER JOIN SYSTEM_USER_ROLE user_role ON user_role.ROLE_ID = role.ID AND user_role.DELETED = 0
    <where>
      AND perm.DELETED = 0
      AND user_role.USER_ID = #{userId}
    </where>
  </select>

  <!-- 根据角色ID查询权限 -->
  <select id="selectByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    perm.`ID`, perm.`CODE`, perm.`NAME`, perm.`REMARK`, perm.`CREATE_TIME`, perm.`UPDATE_TIME`, perm.`CREATE_USER`, perm.`UPDATE_USER`, perm.`DELETED`
    FROM SYSTEM_PERMISSION perm
    INNER JOIN SYSTEM_ROLE_PERMISSION role_perm ON role_perm.PERMISSION_ID = perm.ID AND role_perm.DELETED = 0
    <where>
      AND perm.DELETED = 0
      AND role_perm.ROLE_ID = #{roleId}
    </where>
  </select>

  <select id="selectByExample" parameterType="com.ynzyq.yudbadmin.dao.system.model.SystemPermissionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from `SYSTEM_PERMISSION`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `SYSTEM_PERMISSION`
    where `ID` = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `SYSTEM_PERMISSION`
    where `ID` = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ynzyq.yudbadmin.dao.system.model.SystemPermissionExample">
    delete from `SYSTEM_PERMISSION`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="com.ynzyq.yudbadmin.dao.system.model.SystemPermission">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `SYSTEM_PERMISSION` (
      `CODE`, 
      `NAME`, 
      `REMARK`, 
      `CREATE_TIME`, 
      `UPDATE_TIME`, 
      `CREATE_USER`, 
      `UPDATE_USER`, 
      `DELETED`
    )
    values (
      #{code,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, 
      #{updateUser,jdbcType=INTEGER}, 
      #{deleted,jdbcType=BIT}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.ynzyq.yudbadmin.dao.system.model.SystemPermission">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `SYSTEM_PERMISSION`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
      `CODE`,
      </if>
      <if test="name != null">
      `NAME`,
      </if>
      <if test="remark != null">
      `REMARK`,
      </if>
      <if test="createTime != null">
      `CREATE_TIME`,
      </if>
      <if test="updateTime != null">
      `UPDATE_TIME`,
      </if>
      <if test="createUser != null">
      `CREATE_USER`,
      </if>
      <if test="updateUser != null">
      `UPDATE_USER`,
      </if>
      <if test="deleted != null">
      `DELETED`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
      #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
      #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
      #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
      #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
      #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
      #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null">
      #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
      #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ynzyq.yudbadmin.dao.system.model.SystemPermissionExample" resultType="java.lang.Integer">
    select count(*) from `SYSTEM_PERMISSION`
    <if test="_parameter != null">
    <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update `SYSTEM_PERMISSION`
    <set>
      <if test="record.code != null">
      `CODE` = #{record.code,jdbcType=VARCHAR}, 
      </if>
      <if test="record.name != null">
      `NAME` = #{record.name,jdbcType=VARCHAR}, 
      </if>
      <if test="record.remark != null">
      `REMARK` = #{record.remark,jdbcType=VARCHAR}, 
      </if>
      <if test="record.createTime != null">
      `CREATE_TIME` = #{record.createTime,jdbcType=TIMESTAMP}, 
      </if>
      <if test="record.updateTime != null">
      `UPDATE_TIME` = #{record.updateTime,jdbcType=TIMESTAMP}, 
      </if>
      <if test="record.createUser != null">
      `CREATE_USER` = #{record.createUser,jdbcType=INTEGER}, 
      </if>
      <if test="record.updateUser != null">
      `UPDATE_USER` = #{record.updateUser,jdbcType=INTEGER}, 
      </if>
      <if test="record.deleted != null">
      `DELETED` = #{record.deleted,jdbcType=BIT}
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `SYSTEM_PERMISSION`
    <set>
      `CODE` = #{record.code,jdbcType=VARCHAR}, 
      `NAME` = #{record.name,jdbcType=VARCHAR}, 
      `REMARK` = #{record.remark,jdbcType=VARCHAR}, 
      `CREATE_TIME` = #{record.createTime,jdbcType=TIMESTAMP}, 
      `UPDATE_TIME` = #{record.updateTime,jdbcType=TIMESTAMP}, 
      `CREATE_USER` = #{record.createUser,jdbcType=INTEGER}, 
      `UPDATE_USER` = #{record.updateUser,jdbcType=INTEGER}, 
      `DELETED` = #{record.deleted,jdbcType=BIT}
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ynzyq.yudbadmin.dao.system.model.SystemPermission">
    update `SYSTEM_PERMISSION`
    <set>
      <if test="code != null">
      `CODE` = #{code,jdbcType=VARCHAR}, 
      </if>
      <if test="name != null">
      `NAME` = #{name,jdbcType=VARCHAR}, 
      </if>
      <if test="remark != null">
      `REMARK` = #{remark,jdbcType=VARCHAR}, 
      </if>
      <if test="createTime != null">
      `CREATE_TIME` = #{createTime,jdbcType=TIMESTAMP}, 
      </if>
      <if test="updateTime != null">
      `UPDATE_TIME` = #{updateTime,jdbcType=TIMESTAMP}, 
      </if>
      <if test="createUser != null">
      `CREATE_USER` = #{createUser,jdbcType=INTEGER}, 
      </if>
      <if test="updateUser != null">
      `UPDATE_USER` = #{updateUser,jdbcType=INTEGER}, 
      </if>
      <if test="deleted != null">
      `DELETED` = #{deleted,jdbcType=BIT}
      </if>
    </set>
    where `ID` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ynzyq.yudbadmin.dao.system.model.SystemPermission">
    update `SYSTEM_PERMISSION`
    <set>
      `CODE` = #{code,jdbcType=VARCHAR}, 
      `NAME` = #{name,jdbcType=VARCHAR}, 
      `REMARK` = #{remark,jdbcType=VARCHAR}, 
      `CREATE_TIME` = #{createTime,jdbcType=TIMESTAMP}, 
      `UPDATE_TIME` = #{updateTime,jdbcType=TIMESTAMP}, 
      `CREATE_USER` = #{createUser,jdbcType=INTEGER}, 
      `UPDATE_USER` = #{updateUser,jdbcType=INTEGER}, 
      `DELETED` = #{deleted,jdbcType=BIT}
    </set>
    where `ID` = #{id,jdbcType=INTEGER}
  </update>
</mapper>